<nav class="sidebar">
  <ul>
    <li><a href="/">Startseite</a></li>
    <li>
      <a href="javascript:void(0)" onclick="toggleProjects()">Projekte ▸</a>
      <ul id="projectList" style="display:none;">
        <li class="subproject"><a href="/projekt1/">Projekt 1</a></li>
        <li class="subproject"><a href="/projekt2/">Projekt 2</a></li>
        <li class="subproject"><a href="/projekt3/">Projekt 3</a></li>
        <li class="subproject"><a href="/projekt4/">Projekt 4</a></li>
      </ul>
    </li>
    <li><a href="/about/">Über mich</a></li>
  </ul>
</nav>
