<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-pb3K4rP1QF9YbZknXbZ+gKukPptbDvMjncM8kvbCmnoXMR9Cld6IabG2s+XfYXckfAUpqFnCJu3lrwJHF+rljw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      {% include sidebar.html %}
    </aside>
    <main class="content">
      {{ content }}
    </main>
  </div>
</body>
</html>

